@model SammysAuto.Models.IndividualButtonPartial

<td style="width:150px;">
    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButtonPartial",
            new IndividualButtonPartial
                 {
                Action = "Edit",
                ButtonType = "btn-primary",
                Text = "Edit",
                ServiceId = Model.ServiceId,
            })

        @Html.Partial("_IndividualButtonPartial",
            new IndividualButtonPartial
            {
                Action = "Details",
                ButtonType = "btn-success",
                Text = "Details",
                ServiceId = Model.ServiceId,
            })

        @Html.Partial("_IndividualButtonPartial",
            new IndividualButtonPartial
            {
                Action = "Delete",
                ButtonType = "btn-danger",
                Text = "Delete",
                ServiceId = Model.ServiceId,
            })
    </div>
</td>