@model IEnumerable<ServiceType>
@{
    ViewData["Title"] = "Service Type List";
}
<br />
<h2>Service Type List</h2>
<hr />

<div class="form-border">
    <p>
        <a class="btn btn-sm btn-primary" asp-action="Create">New Service Type</a>
    </p>

    <br />

    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model) { 
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { ServiceId = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
